@model TaskItem

<div>
	<strong>Title:</strong> @Model.Title <br>
	<strong>Description:</strong> @Model.Description <br>
	<strong>Due Date:</strong> @Model.DueDate <br>
	<strong>Completed:</strong> @(Model.CompletionStatus ? "Yes" : "No") <br>
</div>